/* Header и навигация */
header {
    display: flex;
    align-items: center;
    padding: 0.5rem 2rem;
    position: sticky;
    top: 0;
    z-index: 100;
}

.light-theme header {
    background-color: var(--light-bg);
    border-bottom: 1px solid var(--gray-color);
}

.dark-theme header {
    background-color: var(--dark-bg);
    border-bottom: 1px solid var(--gray-color);
}

.sidebar-toggle {
    background: none;
    border: none;
    color: var(--primary-color);
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 0.3rem;
    padding: 0;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 0.2rem;
}

.logo span {
    color: var(--primary-color);
}

/* Кнопки и действия */
.actions {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: auto;
}

.theme-toggle {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    background-color: var(--accent-color);
    color: var(--text-dark);
    border: none;
    font-weight: bold;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.theme-toggle:hover {
    opacity: 0.9;
}

.theme-icon {
    font-size: 1.2rem;
    transition: transform 0.5s;
}

.theme-icon.sun {
    color: #F9D71C;
    display: none;
}

.theme-icon.moon {
    color: #E0E0E0;
    display: inline-block;
}

.light-theme .theme-icon.sun {
    display: inline-block;
}

.light-theme .theme-icon.moon {
    display: none;
}